*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* common class  */
.btn{
    background-color:#039e36;
    border:none;
    border-radius: 5px;
    padding: 18px 35px;
    font-size: 20px;
    font-weight: bold;
    color:white;
    cursor: pointer;
}
/* navbar section  */
nav{
    background-color: #ffffff;
    width:71%;
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding:34px 34px ;
}
nav .menu{
    display:flex;
    list-style-type: none;
    gap:50px;
    align-items: center;
    justify-content:;
}
nav .menu a{
    font-size: 20px;
    color:black;
    text-decoration: none;
}
